<div class="main-header bg-secondary">
    <h1 class="h6 d-block d-sm-block d-md-none text-white mb-0 pl-4 w-100">{{title}}</h1>
    <h3 class="h3 d-none d-sm-none d-md-block text-white mb-0 pl-4 w-100">{{title}}</h3>
</div>
<div class="px-2 px-sm-3 px-md-4 py-5 mt-5">

</div>