<script src="/js/attempt/quiz-main.js"></script>


<div id="quiz-main-page">
    <div v-if="showLoading" class="loading-bg p-4">
    </div>

    <div v-if="showTimer" class="timer-bg p-4">
    </div>

    <div v-if="showQuiz" class="quiz-main-bg p-4">

    </div>
</div>